{{ 'section-content-image.css' |  asset_url |  stylesheet_tag }}

<div class="content-image content-image--{{ section.settings.alignment }} content-image--{{ section.settings.type }} {% if section.settings.icon %} content-image--icon{% endif %}">
    <div class="content-image__grid">
        <div class="content-image__image bg-cover{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <img src="{{ section.settings.image | img_url: '925x645' }}" alt="" class="rounded_{{ section.settings.rounded }}">
            {% if section.settings.image_credit %}
              <div class="content-image__credit">
                {{ section.settings.image_credit }}
              </div>
            {% endif %}
        </div>
        <div class="content-image__content align_{{ section.settings.text_alignment }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if section.settings.background_color %}style="background-color: {{ section.settings.background_color }}"{% endif %}>
            <div class="content-image__inner">
                {% if section.settings.icon %}
                    <div class="content-image__icon">
                        <img src="{{ section.settings.icon | img_url: '61x61' }}" alt="">
                    </div>
                {% endif %}
                {% if section.settings.subheading %}
                  <h3 class="general-content__heading t-h6 scroll-trigger animate--slide-in">{{ section.settings.subheading }}</h3>
                {% endif %}
                <h2 class="content-image__title t-h3">{{ section.settings.title }}</h2>
                <div class="content-image__copy">
                    {{ section.settings.content }}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Content Image",
    "tag": "section",
    "class": "section-content-image",
    "settings": [
        {
            "type": "select",
            "id": "type",
            "label": "Type",
            "options": [{
              "value": "general",
              "label": "General"
              },
              {
              "value": "full",
              "label": "Full"
              },
              {
              "value": "centered",
              "label": "Centered"
              },
              {
              "value": "narrow",
              "label": "Narrow"
              }
            ]
        },
        {
            "type": "select",
            "id": "margin_bottom",
            "label": "Bottom Margin",
            "default": "no",
            "options": [
                {
                    "value": "no",
                    "label": "no"
                },
                {
                    "value": "yes",
                    "label": "yes"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "rounded",
            "label": "Rounded Colors",
            "default": "no",
            "options": [
                {
                    "value": "no",
                    "label": "no"
                },
                {
                    "value": "yes",
                    "label": "yes"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "image_credit",
            "label": "Image Credit"
        },
        {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Image Alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "center",
                    "label": "Center"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color"
        }
    ],
    "presets": [
        {
            "name": "Content Image"
        }
    ]
}
{% endschema %}