{{ 'section-grid-hover.css' | asset_url | stylesheet_tag }}

<div class="grid-hover">
  <div class="page-width">
    <div class="grid-hover__grid">
      {%- for block in section.blocks -%}
        <div
          class="grid-hover__item bg-cover{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {%- if block.settings.image -%}
            {{ block.settings.image | img_url: '920x520' | img_tag: block.settings.title }}
          {%- endif -%}
          {%- if block.settings.title -%}
            <p class="our-impact__item-heading t-h2">{{ block.settings.title }}</p>
          {%- endif -%}
          {%- if block.settings.content -%}
            <div class="our-impact__item-content">{{ block.settings.content }}</div>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Grid - Hover Text",
  "tag": "section",
  "class": "grid-hover",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "cell",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid - Hover Text",
      "blocks": [
        {
          "type": "cell"
        }
      ]
    }
  ]
}
{% endschema %}
