{{ 'section-grid-hover.css' | asset_url | stylesheet_tag }}

<div class="page-width">

  <div class="grid-hover">
      <div class="grid-hover__grid">
        {%- for block in section.blocks -%}
          <div
            class="grid-hover__item {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="grid-hover__media_wrap">
              {%- if block.settings.image -%}
                {{ block.settings.image | img_url: '920x520' | img_tag: block.settings.title }}
              {%- endif -%}
              <div class="grid-hover__info">
                {%- if block.settings.title -%}
                  <p class="grid-hover__item-heading t-h2">{{ block.settings.title }}</p>
                {%- endif -%}
                {%- if block.settings.content -%}
                  <div class="grid-hover__item-content">{{ block.settings.content }}</div>
                {%- endif -%}
              </div>
            </div>

            {%- if block.settings.content -%}
              <div class="grid-hover-mobile__item-content">{{ block.settings.content }}</div>
            {%- endif -%}
            
          </div>
        {%- endfor -%}
      </div>
  </div>

</div>

{% schema %}
{
  "name": "Grid - Hover Text",
  "tag": "section",
  "class": "grid-hover",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "cell",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "select",
            "id": "image_overlay",
            "label": "Image Overlay",
            "default": "no",
            "options": [
                {
                    "value": "no",
                    "label": "no"
                },
                {
                    "value": "yes",
                    "label": "yes"
                }
            ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid - Hover Text",
      "blocks": [
        {
          "type": "cell"
        }
      ]
    }
  ]
}
{% endschema %}
