{{ 'section-home-banner.css' |  asset_url |  stylesheet_tag }}

<div class="home-banner">
    {%- if section.settings.image -%}
        {{ section.settings.image | image_url: width: 440 | image_tag: class: 'home-banner__image' }}
    {%- endif -%}
    <div class="home-banner__slider">
        {%- for block in section.blocks -%}
            <div class="home-banner__slide">
                {%- if block.settings.video or block.settings.video_url -%}
                    {%- if block.settings.video -%}
                        {{ block.settings.video | video_tag: controls: false, loop: true, muted: true, playsinline: true }}
                    {% comment %} {%- else -%}
                        <video controls loop muted playsinline>
                            <source src="{{ block.settings.video_url }}" type="video/mp4">
                        </video> {% endcomment %}
                    {%- endif -%}
                {%- endif -%}
                {%- if block.settings.image -%}
                    {{ block.settings.image | image_url: width: nil | image_tag: height: nil }}
                {%- endif -%}
            </div>
        {%- endfor -%}
    </div>
</div>

<script>
    const announcementBar = document.querySelector('.announcement-bar-section');
    const header = document.querySelector('.section-header');
    
    function cssVariables() {
        const announcementBarHeight = announcementBar ? announcementBar.offsetHeight : 0;
        const headerHeight = header ? header.offsetHeight : 0;
        const bannerHeight = window.innerHeight - (announcementBarHeight + headerHeight);
        document.documentElement.style.setProperty('--banner-height', `${bannerHeight}px`);
    }
    cssVariables();
    window.addEventListener('resize', cssVariables);
    var flkty = new Flickity('.home-banner__slider', {
        prevNextButtons: false,
        pageDots: false,
        autoPlay: 5000,
        pauseAutoPlayOnHover: false,
        wrapAround: true
    });
</script>

{% schema %}
{
    "name": "Home Banner",
    "tag": "section",
    "class": "home-banner-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Background Image"
                },
                {
                    "type": "video",
                    "id": "video",
                    "label": "Video"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Home Banner",
            "blocks": [
                {
                    "type": "slide"
                }
            ]
        }
    ]
}
{% endschema %}