{{ 'section-story-carousel.css' |  asset_url |  stylesheet_tag }}

<div class="story-carousel{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {%- if section.settings.title -%}
        <h2 class="story-carousel__title t-h2">{{ section.settings.title }}</h2>
    {%- endif -%}
    <div class="story-carousel__carousel">
        <div class="story-carousel__carousel__container">
            {% for block in section.blocks %}
                <div class="story-carousel__item">
                    {%- if block.settings.image -%}
                        <div class="story-carousel__item__image bg-cover">
                            <img src="{{ block.settings.image | img_url: '530x605' }}" alt="">
                        </div>
                    {%- endif -%}
                    <div class="story-carousel__item__content">
                        {{ block.settings.content }}
                        {% if section.settings.button_link and section.settings.button_text %}
                            <a href="{{ section.settings.button_link }}" class="btn btn--primary">{{ section.settings.button_text }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    if (document.querySelectorAll('.story-carousel__item').length > 1) {
        var storyCarousel = new Flickity('.story-carousel__carousel__container', {
            cellAlign: 'left',
            contain: true,
            prevNextButtons: false,
            pageDots: true,
            autoPlay: 5000,
            pauseAutoPlayOnHover: false,
            wrapAround: true,
            freeScroll: true
        });
        // on desktop slide carousel on scroll
        let lastScroll = document.querySelector('.story-carousel').getBoundingClientRect().top;
        window.addEventListener('scroll', onScrollStoryCarousel, false);

        function onScrollStoryCarousel() {
            storyCarousel.isFreeScrolling = true;
            storyCarousel.startAnimation();
            let diff = window.scrollY - lastScroll
            lastScroll = window.scrollY


            storyCarousel.velocity += diff * -0.1;
            storyCarousel.x += storyCarousel.velocity;
            storyCarousel.velocity *= 1 - 0.03;

            let previousX = storyCarousel.x
            storyCarousel.positionSlider();
        }
    }
</script>

{% schema %}
{
    "name": "Story Carousel",
    "tag": "section",
    "class": "story-carousel-section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Our Story"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Find Out More"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],
    "blocks": [
        {
            "type": "story",
            "name": "Story",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "content"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Story Carousel",
            "blocks": [
                {
                    "type": "story"
                }
            ]
        }
    ]
}
{% endschema %}