{{ 'section-story-carousel.css' | asset_url | stylesheet_tag }}

<div class="story-carousel{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  {%- if section.settings.title -%}
    <h2 class="story-carousel__title t-h2">{{ section.settings.title }}</h2>
  {%- endif -%}
  <div class="story-carousel__carousel">
    <div class="story-carousel__carousel__container">
      {% for block in section.blocks %}
        <div class="story-carousel__item">
          {%- if block.settings.image -%}
            <div class="story-carousel__item__image">
              <img src="{{ block.settings.image | img_url: '1500x' }}" alt="">
            </div>
          {%- endif -%}
          <div class="story-carousel__item__content">
            <div class="inner">
              {{ block.settings.content }}
              {% if section.settings.button_link and section.settings.button_text %}
                <a href="{{ section.settings.button_link }}" class="btn btn--primary">
                  {{- section.settings.button_text -}}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="story_arrow_next">
      <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.63574 7.75737L7.04996 6.34315L12.7068 12L7.04998 17.6568L5.63577 16.2426L9.87839 12L5.63574 7.75737Z" fill="#000000"/>
      <path d="M12.7068 6.34315L11.2926 7.75737L15.5352 12L11.2926 16.2426L12.7068 17.6568L18.3637 12L12.7068 6.34315Z" fill="#000000"/>
      </svg>
    </div>
  </div>
</div>

<script>

var elem = document.querySelector('.story-carousel__carousel__container');

let numCells = 2;
if (innerWidth <= 932) {
  numCells = 1;
}
  
var flkty = new Flickity( elem, {
  // options
  groupCells: numCells,
  pageDots: false,
  prevNextButtons: false,
  wrapAround: true,
});

let nextArrow = document.querySelector('.story-carousel .story_arrow_next');
nextArrow.addEventListener("click", function() {
  alert("next");
  flkty.next();
});
  
</script>

{% schema %}
{
  "name": "Story Carousel",
  "tag": "section",
  "class": "story-carousel-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Story"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Find Out More"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "story",
      "name": "Story",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Story Carousel",
      "blocks": [
        {
          "type": "story"
        }
      ]
    }
  ]
}
{% endschema %}
